.pc-snackar {
  .bi-check-circle-fill {
    color: var(--primary-color) !important;
  }

  .bi-info-circle-fill {
    color: var(--secondary-color) !important;
  }

  .bi-exclamation-triangle-fill {
    color: red !important;
  }
}
