.mat-column-expand {
  flex: 0 0 2%;
}

.expand-element-detail {
  overflow: hidden;
  margin: auto;
  margin-left: 2%;
}

.mat-elevation-z8 {
  box-shadow: none !important;
  border-bottom: 1px solid #e0e0e0 !important;
}