<div class="center-conatianer">
  <mat-card>
    <mat-card-content>
      <section class="text-center">
        <span class="pc-text-color fs-6">
          <strong>Process Control Application</strong>
        </span>
        <div>
          <span class="fs-5"><i class="bi bi-person-fill-slash"></i></span>
          Your profile is not setup to access Process Control application.
          <br />
          Please contact
          <a class="pc-text-color" [href]="supportEmail">here</a>
          to get access.
        </div>
        <hr />
        <span>Thanks</span>
      </section>
    </mat-card-content>
  </mat-card>
</div>
